* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#screen{
    height: 700px;
    /* background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/bff5732c-7d13-45d1-9fab-476db25a1827/46bc87cd-4c4c-4485-8b93-d5f21c581d56/IN-en-20230710-popsignuptwoweeks-perspective_alpha_website_large.jpg'); */
}

.w-80 {
    width: 76%;
    margin: auto;
    border: 1px solid red;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    height: 70px;
    width: 148px;
    border: 1px solid red;
}

.left img{
    object-fit: contain;
}


.right {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid red;
    width: 230px;
    height: 40px;
}

.right-subpart{
    width: 126px;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid black; */
    padding-top: 6px;
    background: #000;
    color: white;
    border-radius: 6px;
}

.location{
    /* border: 1px solid white; */
    width: 84px;
}

.location select{
    width: 100%;
    border: none;
    font-size: 18px;
    outline: none;
    background: #000;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto','Ubuntu',sans-serif;
}

.sign{
    width: 77px;
    height: 32px;
    border: 1px solid red;
}

.sign button{
    width: 100%;
    height: 100%;
    background-color: #e50914;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto','Ubuntu',sans-serif;
    font-size: 14px;
}



/* .border-dropdown{
    border: 2px solid white;
    background: #000;
    border-radius: 8px;
} */

/* .dropdown {
    display: flex;
    justify-content: space-between;
    width: 126px;
    border: 1px solid gray;
    border-radius: 8px;
    height: 30px;
    align-items: center;
    background: #000;
    color: white;
    padding: 6px 20px;
} */

/* .globe{
    padding: 0px 6px;
} */

/* #english{
    background-color: black;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto','Ubuntu',sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
} */

/* button{
    margin-left: 24px;
    text-align: center;
    width: 76px;
    height: 32px;
    background-color: #e50914;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto','Ubuntu',sans-serif;
    font-size: 14px;
} */