*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#screen{
    width: 100%;
    border: 2px solid green;
}

.w-90{
    width: 90%;
    margin: auto;
}

.navbar{
    border: 1px solid black;
    padding: 16px 0px 15px 0px;
}

.nav-up{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 40px;
    padding: 5px 0px;
    border: 1px solid black;
}

.nav-up > img{
    width: 100px;
    height: 40px;
    margin-bottom: 15px;
    object-fit: contain;
}

.nav-down{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border: 1px solid black;
}

.nav-down > a{
    margin: 0px 15px;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    /* color: #ffffff; */
}

.nav-down > a:hover{
    background-color: black;
    color: white;
    border-radius: 4px;
}

.bc-1{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}