* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

#screen {
    width: 100%;
    border: 2px solid green;
}

#navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

.nav {
    width: 96%;
    height: 49px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    /* border: 1px solid red; */
}

.nav-icon {
    width: 3%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.nav-logo {
    width: 70%;
    height: 100%;
    margin-left: 4%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* border: 1px solid red; */
}

.nav-logo>h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.nav-button {
    width: 34%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
    /* border: 1px solid red; */
}

.nav-button>button {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 8px 25px;
    border: none;
    background-color: white;
    color: black;
}

.nav-button>button:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

/* maine na parent na child div kisiko bhi height nai diya woh apne ap adjust hote jaara hai screen wise */
.bc-1 {
    width: 100%;
    /* height: 435px; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin-top: -79px;
    background-color: #eeeeee;
}

.bc-1-left {
    width: 33%;
    height: 100%;
    padding: 0px 25px;
    /* border: 1px solid black; */
}

.bc-1-left> :nth-child(1) {
    margin: 25px auto;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
    text-transform: uppercase;
}

.bc-1-left> :nth-child(2) {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0px 10px 0px 0px;
    background-color: #85310c;
    color: white;
    padding: 10px 45px;
    text-decoration: none;
    outline: #85310c;
    border: 1px solid #85310c;
    transition: all 0.3s;
}

.bc-1-left> :nth-child(2):hover {
    background-color: transparent;
    color: #85310c;
}

.bc-1-right {
    width: 67%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.bc-1-right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.bc-2 {
    width: 100%;
    /* height: 435px; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #a34318;
}

.bc-2-left {
    width: 33%;
    /* height: 100%; */
    padding: 0px 25px;
    text-align: center;
    color: white;
    /* border: 1px solid black; */
}

.bc-2-left> :nth-child(1) {
    margin: 25px auto;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    line-height: 38px;
    text-transform: uppercase;
}

/* .bc-2-left> :nth-child(1)::before {
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 45px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
} */


.bc-2-left> :nth-child(2) {
    margin-bottom: 40px;
}

.bc-2-left> :nth-child(3) {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0px 10px 0px 0px;
    background-color: #85310c;
    color: white;
    padding: 10px 45px;
    text-decoration: none;
    outline: #85310c;
    border: 1px solid #85310c;
    transition: all 0.3s;
}

.bc-2-left> :nth-child(3):hover {
    background-color: white;
    color: #85310c;
}

.bc-2-right {
    width: 67%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.bc-2-right img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#body-content-3 {
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 40px;
    background-color: #e4e4e4;
}

.bc-3-title {
    margin-bottom: 45px;
    text-align: center;
}

.bc-3-title>h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #212529;
    text-transform: uppercase;
}

.bc-3-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border: 1px solid black;
    max-width: 1140px;
    height: 650px;
    margin: auto;
    /* background-color: #e4e4e4; */
}

.bc-3-box-1 {
    width: 31%;
    /* width: 347px; */
    height: 650px;
    border: 1px solid black;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}

/* .bc-3-box-1-up {
    width: 347px;
    height: 280px;
    border: 1px solid red;
} */

/* .bc-3-box-1-up:hover img{
    color: #a34318;
    transition: all 0.3s;
    cursor: pointer;
} */

/* .bc-3-box-1-down {
    width: 347px;
    height: 328px;
    border: 1px solid red;
} */

.bc-3-box-2 {
    width: 31%;
    /* width: 367px; */
    height: 634px;
    border: 1px solid black;
}

.bc-3-box-2 img{
    max-width: 100%;
    object-fit: cover;
}

.bc-3-box-3 {
    width: 34%;
    /* width: 405px; */
    height: 650px;
    border: 1px solid black;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}

/* .bc-3-box-3-up {
    width: 385px;
    height: 304px;
    border: 1px solid red;
}

.bc-3-box-3-down {
    width: 385px;
    height: 304px;
    border: 1px solid red;
} */