@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#screen {
    width: 100%;
    border: 1px solid green;
}

#header {
    width: 100%;
    height: 76px;
    border: 1px solid red;
    background-color: #1f2533;
    color: #ffffff;
}

#nav {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-arrow {
    width: 4%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    size: 16px;
    color: #ffffff;
}

.nav-content {
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.nav-content-up {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.nav-content-up button {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    margin-left: 6px;
    padding: 2px;
    font-style: normal;
    font-weight: 200;
    font-size: 11px;
    line-height: 14px;
    color: #ffffff;
}

.nav-content-down {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #c6c6c9;
}

.nav-cross {
    width: 4%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#body {
    width: 100%;
    height: 100%;
    border: 1px solid;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
}

/* .nav-content-down{

} */

#body-content-1-left {
    width: 67%;
    height: 100%;
    border: 1px solid red;
    background-color: #f2f2f2;
}

.body-content-1-left-grab-bite {
    width: 100%;
    height: 100%;
    border: 1px solid brown;
    margin-top: 4px;
    background-color: #ffffff;
}


/* font-family: 'Montserrat', sans-serif; */

.body-content-1-left-grab-bite :nth-child(1),
.body-content-1-left-grab-bite :nth-child(2),
.body-content-1-left-grab-bite :nth-child(3) {
    text-align: center;
}

.body-content-1-left-grab-bite>p:nth-child(1) {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 3px;
    color: #333333;
    padding-top: 10px;
}

.body-content-1-left-grab-bite>p:nth-child(2) {
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.grab-all-buttons {
    padding: 20px 0px 10px 0px;
}

.grab-all-buttons button {
    padding: 4px 12px;
    text-transform: uppercase;
    border-radius: 12px;
    border: 1px solid #c6c6c9;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #666666;
    background-color: white;
}

.body-content-1-left-food-parent {
    border: 1px solid;
    width: 96%;
    height: 400px;
    margin: auto;
    overflow-y: scroll;
}

.body-content-1-left-food-child {
    display: flex;
    flex-wrap: wrap;
    /* Enable wrapping to create a two-column layout */
    gap: 18px;
    /* Adjust the gap as needed */
    padding: 10px 6px 10px 18px;
    background-color: #ffffff;
}

.product-box {
    flex: 0 0 calc(50% - 10px);
    /* Distribute items evenly in two columns */
    max-width: calc(50% - 10px);
    height: 147px;
    /* Max width for each box */
    /* border: 1px solid #e35252; */
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.product-box-left{
    width: 25%;
    height: 90%;
    /* border: 1px solid green; */
}

.product-box-left img{
    width: 100%;
    height: 80%;
}

.product-box-right{
    width: 75%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-box-right-up{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-box-right-up h4{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1a1a1a;
    padding-left: 6px;
}

.product-box-right-up h6{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #666666;
}

.product-box-right-down{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.product-box-right-down-l p{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #1a1a1a;
}

.product-box-right-down-r button{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #dc354b;
    width: 58px;
    background-color: transparent;
    border: 1px solid #dc354b;
    border-radius: 5px;
    cursor: pointer;
}
















#body-content-1-right {
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.body-content-1-right-child {
    width: 100%;
    /* border: 1px solid green; */
    padding: 30px 25px;
}

.body-content-1-right-child>h2 {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #c02c39;
    letter-spacing: 3px;
}

.body-content-1-right-ticket-fee {
    width: 100%;
    height: 17px;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    margin-bottom: 10px;
}

.body-content-1-right-ticket-fee>p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1f2533;
}

.body-content-1-right-child :nth-child(3) {
    margin-left: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #969696;
}

.body-content-1-right-convenience-fee {
    width: 100%;
    height: 17px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin-bottom: 10px;
}

.body-content-1-right-convenience-fee>p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1f2533;
}

.body-content-1-right-convenience-fee button {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid;
    background-color: transparent;
    margin-right: 4px;
}