*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#screen{
    border: 1px solid green;
}

.w-92{
    width: 92%;
    margin: auto;
}

.head{
    /* border: 1px solid red; */
    height: 104px;
    width: 100%;
    /* background-color: #222539; */
    color: white;
}

.up{
    /* border: 1px solid green; */
    height: 64px;
    background-color: #333545;
}

.up-w-92{
    height: 100%;
    width: 92%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up-left{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 690px;
}

.left-image{
    width: 115px;
}

.left-content{
    width: 550px;
    background: white;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 4px;
    color: #9f9f9f;
}

.icon{
    margin: 0px 10px;
    color: #9f9f9f;
    cursor: pointer;
}

.input input{
    width: 400px;
    border: none;
    outline: none;
}


.up-right{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
}

.location{
    width: 66px;
}

.location select{
    /* width: 100%; */
    border: none;
    outline: none;
    background-color: #333545;
    color: #c7cac3;
}

.sign{
    width: 67px;
}

.sign button{
    background-color: #f84464;
    color: white;
    height: 23px;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: none;
}

.down{
    /* border: 1px solid green; */
    height: 40px;
    background-color: #222539;
}

.down-w-92{
    height: 100%;
    width: 92%;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.down-left ul{
    display: flex;
}

.down-left ul li{
    list-style: none;
}

.down-left ul li a{
    text-decoration: none;
    color: #cccccc;
    margin-right: 18px;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
}

.down-right ul{
    display: flex;
}

.down-right ul li{
    list-style: none;
}

.down-right ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 8px;
    font-size: 12px;
    font-family: 'Roboto',sans-serif;
}

.body{
    border: 1px solid red;
    height: 480px;
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url('https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/oppenheimer-et00347867-1683533414.jpg');
    /* background-color: #1a1a1a; */
    /* background-image: url('https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/oppenheimer-et00347867-1683533414.jpg');background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8 black; */
    /* background-position: center; */
    display: flex;
}

.body-left{
    width: 24%;
    border: 1px solid green;
    height: 420px;
    margin-top: 30px;
    background-image: url('https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/oppenheimer-et00347867-1683533414.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailers{
    display: flex;
    color: white;
    background: #473425;
    border-radius: 10px;
    text-align: center;
}

.trailers h4{
    width: 96px;
}

/* .trailers svg{
    width: 13px;
    height: 13px;
    color: white;
} */

.body-right{
    width: 76%;
    border: 1px solid green;
    height: 420px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.movie-info{
    border: 1px solid red;
    width: 80%;
    padding-left: 32px;
}

.movie-name h1{
    font-size: 36px;
    color: white;
    font-family: 'Roboto';
    margin: 10px 0px;
}

/* .movie-rating span{
    font-size: 24px;
    color: white;
} */

.rate{
    font-size: 24px;
    color: white;
}

.votes{
    font-size: 16px;
    color: white;
}

.rate-now{
    display: flex;
    justify-content: space-between;
    width: 446px;
    border: 1px solid red;
    height: 74px;
    color: white;
}

.rate-content{
    font-size: 18px;
    font-family: 'Roboto', 'sans-sarif';
}

.share{
    border: 1px solid red;
    width: 20%;
}
.about{
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-head{
    margin-bottom: 20px;
    width: 70%;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
}

.about-content{
    width: 70%;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}

.cast{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #363636;
    /* border: 1px solid red; */
}

.grey{
    color: #e8e8e8;
    border-bottom: 2px solid;
    margin-bottom: 20px;
    width: 70%;
}

.cast-head{
    margin-bottom: 20px;
    width: 70%;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
    /* border: 1px solid red; */
}

.cast-gallery{
    width: 70%;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.person{
    width: 18%;
    text-align: center;
    /* border: 1px solid red; */
}

.person img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.person-content h5{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}

.person-content p{
    font-size: 14px;
}

.crew{
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    color: #363636;
}

.grey{
    color: #e8e8e8;
    border-bottom: 2px solid;
    margin-bottom: 20px;
    width: 70%;
}

.crew-head{
    margin-bottom: 20px;
    width: 70%;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
    /* border: 1px solid red; */
}

.crew-gallery{
    width: 54%;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.crew-person{
    width: 18%;
    text-align: center;
    /* border: 1px solid red; */
}

.crew-person img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.crew-person-content h5{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}

.crew-person-content p{
    font-size: 14px;
}