* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#screen {
    width: 100%;
    height: 3000px;
    border: 2px solid green;
    background-color: black;
}

.w-97 {
    width: 97%;
    margin: auto;
}

.header {
    width: 100%;
    height: 110px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* position: sticky;
    top: 0px;
    left: 0px; */
}

.nav-parent {
    height: 70px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-one {
    width: 10%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    color: #cccccc;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.nav-one> :nth-child(2) {
    display: none;
}

.nav-two {
    width: 40%;
    height: 100%;
    /* border: 1px solid white; */
}

.navigation {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
}

.navigation ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation ul li {
    list-style-type: none;
}

.navigation ul li a {
    text-decoration: none;
    color: #cccccc;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav-three {
    width: 10%;
    height: 100%;
    /* border: 1px solid white; */
    color: #cccccc;
}

.social {
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-four {
    width: 7%;
    height: 100%;
    display: none;
    color: white;
}

.main {
    width: 100%;
    height: 536px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.main-parent {
    width: 95%;
    height: 400px;
    margin: auto;
    /* border: 1px solid white; */
    color: white;
}

.main-image {
    width: 100%;
    height: 110px;
    text-align: center;
    /* border: 1px solid red; */
    margin-bottom: 36px;
}

.main-image img {
    width: 108px;
    height: 108px;
    /* border: 1px solid green; */
}

.main-title {
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 20px;
}

.main-title> :nth-child(1) {
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 70px;
    /* border: 1px solid red; */
}

.main-para {
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 50px;
}

.main-para> :nth-child(1) {
    max-width: 600px;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #b6b6b6;
    /* border: 1px solid red; */
}

.main-btn {
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}

.main-btn>button {
    color: #000000;
    height: 44px;
    padding: 12px 26px;
    border-radius: 22px;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    outline: none;
    border: none;
}

.article-parent {
    width: 95%;
    margin: auto;
    /* height: 100%; */
    border: 1px solid white;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.article-left {
    width: 24%;
    height: 520px;
    /* border: 1px solid red; */
}

.article-left>div:nth-child(1)>p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #b6b6b6;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.article-left>div:nth-child(2)>h2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: #ffffff;
    letter-spacing: 2px;
}

.article-left>div:nth-child(3)>p {
    margin-top: 80px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #b6b6b6;
}

.article-left>div:nth-child(4)>button {
    margin-top: 40px;
    color: #000000;
    height: 44px;
    padding: 12px 26px;
    border-radius: 22px;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    outline: none;
    border: none;
}

.article-right {
    width: 68%;
    height: 520px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.right-img-one {
    background-image: url('https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg');
    width: 47%;
    height: 100%;
    /* border: 1px solid white; */
    /* ye bg img ko parent div ki full size mai lene ki liye niche ka code
    likha hai  bg-size,position,repeat */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.right-inside-one {
    width: 80%;
    height: 440px;
    margin: auto;
    /* border: 1px solid black; */
    background-color: #c6c6c6;
    display: none;
}

.right-img-one:hover>.right-inside-one {
    display: block;
}

.in-one {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20%;
    /* border: 1px solid black; */
}

.in-one> :nth-child(1) {
    height: 70%;
    margin-bottom: 5%;
    object-fit: cover;
}

.in-one> :nth-child(2) {
    margin: 20px 0px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.in-one> :nth-child(3) {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.right-img-two {
    background-image: url('https://mobirise.com/extensions/boldm5/tech-blog/assets/images/image6.jpg');
    width: 47%;
    height: 100%;
    /* border: 1px solid white; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.right-inside-two {
    width: 80%;
    height: 440px;
    margin: auto;
    /* border: 1px solid black; */
    background-color: #c6c6c6;
    display: none;
}

.right-img-two:hover>.right-inside-two {
    display: block;
}

.in-two {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20%;
    /* border: 1px solid black; */
}

.in-two> :nth-child(1) {
    height: 70%;
    margin-bottom: 5%;
    object-fit: cover;
}

.in-two> :nth-child(2) {
    margin: 20px 0px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.in-two> :nth-child(3) {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.two-col-contents-parent{
    width: 95%;
    margin: auto;
    border: 1px solid white;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-col-left{
    width: 60%;
    height: 185px;
    border: 1px solid red;
    color: #ffffff;
}

.two-col-right{
    width: 40%;
    height: 185px;
    border: 1px solid red;
    color: #b5b5b5;
}

/* ************************************************************************* */

@media screen and (min-width: 280px) and (max-width:991px) {

    .nav-one {
        width: 30%;
    }

    .nav-one> :nth-child(1) {
        display: none;
    }

    .nav-one> :nth-child(2) {
        display: block;
    }

    .nav-two {
        display: none;
    }

    .nav-three {
        display: none;
    }

    .nav-four {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}

@media screen and (min-width:770px) and (max-width:990px) {

    .article-parent {
        width: 95%;
        margin: auto;
        /* border: 1px solid white; */
        flex-wrap: wrap;
    }

    .article-left {
        width: 100%;
        height: 250px;
        /* border: 1px solid white; */
    }

    /* .article-left>div:nth-child(1)>p {
        margin-bottom: 8px;
    } */

    .article-left>div:nth-child(2)>h2 {
        margin-bottom: 0px;
    }

    .article-left>div:nth-child(3)>p {
        margin-bottom: 48px;
        margin-top: 0px;
    }

    .article-left>div:nth-child(4)>button {
        margin-top: 0px;
    }

    .article-right {
        width: 100%;
        /* border: 1px solid white; */
    }

    .right-inside-one {
        display: block;
    }

    .right-inside-two {
        display: block;
    }

}

@media screen and (max-width : 769px) {


    .article-parent {
        width: 95%;
        margin: auto;
        /* border: 1px solid white; */
        flex-wrap: wrap;
    }

    .article-left {
        width: 100%;
        height: 350px;
        /* border: 1px solid white; */
    }

    /* .article-left>div:nth-child(1)>p {
        margin-bottom: 8px;
    } */

    .article-left>div:nth-child(2)>h2 {
        margin-bottom: 0px;
    }

    .article-left>div:nth-child(3)>p {
        margin-bottom: 48px;
        margin-top: 0px;
    }

    .article-left>div:nth-child(4)>button {
        margin-top: 0px;
    }

    .article-right {
        width: 100%;   
        height: 1100px;    
        flex-direction: column;
        flex-wrap: nowrap;
        border: 1px solid red;
    }

    .right-img-one {
        width: 100%;
        height: 516px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .right-inside-one{
        display: block;
        width: 95%;
        margin: auto;
        height: 480px;
    }

    .in-one{
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }

    .right-img-two {
        width: 100%;
        height: 516px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .right-inside-two{
        display: block;
        width: 95%;
        margin: auto;
        height: 480px;
    }

    .in-two{
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        margin-top: 5%;
    }

}